html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
}



.landing-page-container {
  width: 100%;
  min-height: 100vh;
  overflow: auto; /* Enable scrolling */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #ffffff;
}

.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  
}

.content-container {
  margin-top: 60px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 32px;
  position: relative;
}
  
.header {
  width: 100%;
  height: 12rem;
  padding: 1.5rem 0;
  display: block;
  position: relative;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
}

.heading-container {
  font-size: 10vw; /* Use viewport width as a unit for responsive font size */
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw; /* Adjust padding using vw unit */
  margin-top: 30vh; /* Use viewport height as a unit for margin */
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: center the columns horizontally */
  /* margin-top: 50%; */
  height: 100%;
  z-index: 99;
}

.content-container1,
.content-container2 {
  margin-top: 20px; /* Adjust the spacing between the containers */
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 32px;
  width: 70%; /* Adjust the width as needed */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.39);
}



.content-container1 {
  margin-top: 50%;
  padding: 30px;
  border: 1px solid #ccc;
  font-size: 32px;
  position: absolute;
  
}

  .content-container2 {
    margin-top: 100%;
    padding: 30px;
    border: 1px solid #ccc;
    font-size: 32px;
    position: absolute;
  } 
 
    .menu-icon {
    width: 2.5rem;
    height: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
  
  .header__item {
    display: inline-block;
    float: left;
    font-size: large;
  }
  
 
 
 
 
 
 
  .menu-icon__line {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    display: block;
  }
  .menu-icon__line:before, .menu-icon__line:after {
    content: "";
    width: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
  }
  .menu-icon__line:before {
    left: 0.5rem;
    top: -0.6rem;
  }
  .menu-icon__line:after {
    top: -1.8rem;
  }
  
  
  
  
  
  
  /* .heading {
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.7rem;
    margin: 0 auto;
    text-align: center;
  } */
  
  .social-container {
    width: 7.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    z-index: 999;
  }
  .social-container .social__icon {
    float: left;
    cursor: pointer;
  }
  .social-container .social__icon.social__icon {
    margin-left: 0.5rem;
    padding: 7.5px;
  }
  .social-container .social__icon.social__icon img {
    height: 3rem;
  }
 

  script {
    position: relative; 
    z-index: -111; 
}

  
  .coords {
    font-size: 1rem;
    display: inline-block;
    transform: rotate(-90deg) translateY(50%);
    float: left;
    position: relative;
    top: 40%;
    letter-spacing: 0.2rem;
    left: -11.5rem;
    margin-top: 10%;
    font-size: 1.5rem;
  }
  
  .ellipses-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 10.5rem;
    text-align: center; 
    margin-left: 60rem;
}

.ellipses-container .sigil {
    position: relative;
    width: 50rem;
    height: 50rem;
    max-width: 640px;
    max-height: 640px;
    /* top: 8.5rem; */
    z-index: -2;
}

  
  .ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
    
  }
  
  .ellipses__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
            animation: ellipsesOrbit 15s ease-in-out infinite;
  }
  .ellipses__outer--thin:after {
    content: "";
    background-image: url("https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
  }
  
  .ellipses__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: #ffffff transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
            animation: ellipsesRotate 15s ease-in-out infinite;
  }
  
  .ellipses__orbit {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: #ffffff;
    top: 5rem;
    right: 6.75rem;
  }
  .ellipses__orbit:before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  

  
  @-webkit-keyframes ellipsesRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  
  @keyframes ellipsesRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @-webkit-keyframes ellipsesOrbit {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes ellipsesOrbit {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }





  @media only screen and (max-width: 768px) {
    .content__wrapper {
      width: 100%;
    }
  

    .header {
      width: 100%;
      height: 12rem;
      padding: 1.5rem 0;
      display: block;
      position: relative;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
    }
    
    .heading-container {
      font-size: 10vw; /* Use viewport width as a unit for responsive font size */
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2vw; /* Adjust padding using vw unit */
      margin-top: -10vh; /* Use viewport height as a unit for margin */
    }

  }


  .content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: center the columns horizontally */
    /* margin-top: 50%; */
    height: 100%;
    z-index: 99;
    margin-top: 30rem;
  }
  
  .content-container1,
  .content-container2 {
    margin-top: 20px; /* Adjust the spacing between the containers */
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 32px;
    width: 70%; /* Adjust the width as needed */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.39);
  }
  
  
  
  .content-container1 {
    margin-top: 50%;
    padding: 30px;
    border: 1px solid #ccc;
    font-size: 32px;
    position: absolute;
    
  }
  
    .content-container2 {
      margin-top: 140%;
      padding: 30px;
      border: 1px solid #ccc;
      font-size: 32px;
      position: absolute;
    } 




    .ellipses-container {
      width: 70rem;
      height: 70rem;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      top: 10.5rem;
      text-align: center; 
      margin-left: 11rem;
  }
  
  .ellipses-container .sigil {
      position: relative;
      width: 70rem;
      height: 70rem;
      max-width: 640px;
      max-height: 640px;
      top: -11.5rem;
      z-index: -2;
  }




  .social-container {
    width: 7.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    z-index: 999;
  }
  .social-container .social__icon {
    float: right;
    cursor: pointer;
  }
  .social-container .social__icon.social__icon {
    /* margin-left: 2.5rem; */
    padding: 7.5px;
  }
  .social-container .social__icon.social__icon img {
    height: 5rem;
  }