html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'VCR OSD Mono';
}

@font-face {
  font-family: 'VCR OSD Mono';
  src: url('VCROSDMono.woff2') format('woff2'),
      url('VCROSDMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.landing-page-container {
  width: 100%;
  min-height: 100vh;
  overflow: auto; /* Enable scrolling */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: #ffffff;
}

.content__wrapper {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  
}

.content-container {
  margin-top: 60px; /* Adjust as needed */
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 32px;
  position: relative;
}
  
.header {
  width: 100%;
  height: 12rem;
  padding: 0.5rem 0;
  display: block;
  position: relative;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.716);
}


.image-container {
  position: relative;
  max-width: 250px;
  max-height: 250px;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1px; /* Optional: Add some margin between the image and text */
  margin-bottom: -20px;
  transition: transform 0.5s ease, opacity 0.5s ease, margin-top 0.5s ease; /* Transition for transform, opacity, and margin-top */
}

.image-container:hover {
  transform: scale(1.2); /* Increase the size by 20% (adjust as needed) */
  opacity: 0.5; /* Make the object 50% transparent */
  margin-top: 100px; /* Move the object down by 100 pixels (adjust as needed) */
}



.heading-container {
  font-size: 14vw; /* Use viewport width as a unit for responsive font size */
  line-height: 85%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2vw; /* Adjust padding using vw unit */
  margin-top: 30vh; /* Use viewport height as a unit for margin */
}


/* .content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%;
  z-index: 99;
} */

/*
.content-container1,
.content-container2 {
  margin-top: 20px; 
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 32px;
  width: 90%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.39);
} 
*/



.content-container1 {
  margin-top: 50%;
  padding: 30px;
  /* border: 1px solid #ccc; */
  font-size: 32px;
  position: absolute;
  line-height: 135%;
  
}

  .content-container2 {
    margin-top: 100%;
    padding: 30px;
    /* border: 1px solid #ccc; */
    font-size: 32px;
    position: absolute;
    
    
  } 
 
    .menu-icon {
    width: 2.5rem;
    height: 1.5rem;
    display: inline-block;
    cursor: pointer;
  }
  
  .header__item {
    display: inline-block;
    float: left;
    font-size: large;
  }
  
 
 
 
 
 
 
  .menu-icon__line {
    width: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    display: block;
  }
  .menu-icon__line:before, .menu-icon__line:after {
    content: "";
    width: 1.5rem;
    height: 0.2rem;
    background-color: #ffffff;
    display: inline-block;
    position: relative;
  }
  .menu-icon__line:before {
    left: 0.5rem;
    top: -0.6rem;
  }
  .menu-icon__line:after {
    top: -1.8rem;
  }
  
  
  
  
  
  
  /* .heading {
    width: 90%;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    line-height: 1.7rem;
    margin: 0 auto;
    text-align: center;
  } */
  
  .social-container {
    width: 7.25rem;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
    z-index: 999;
  }
  .social-container .social__icon {
    float: left;
    cursor: pointer;
  }
  .social-container .social__icon.social__icon {
    margin-left: 0.5rem;
    padding: 7.5px;
  }
  .social-container .social__icon.social__icon img {
    height: 3rem;
  }
 

  script {
    position: relative; 
    z-index: -111; 
}

  
  .coords {
    font-size: 1rem;
    display: inline-block;
    transform: rotate(-90deg) translateY(50%);
    float: left;
    position: relative;
    top: 40%;
    letter-spacing: 0.2rem;
    left: -11.5rem;
    margin-top: 10%;
    font-size: 1.5rem;
  }
  
  .ellipses-container {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 10.5rem;
    text-align: center; 
    margin-left: 60rem;
}

.ellipses-container .sigil {
    position: relative;
    width: 50rem;
    height: 50rem;
    max-width: 640px;
    max-height: 640px;
    /* top: 8.5rem; */
    z-index: -2;
}

  
  .ellipses {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
    
  }
  
  .ellipses__outer--thin {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.1);
    -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
            animation: ellipsesOrbit 15s ease-in-out infinite;
  }
  .ellipses__outer--thin:after {
    content: "";
    background-image: url("https://s29.postimg.org/5h0r4ftkn/ellipses_dial.png");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    opacity: 0.15;
  }
  
  .ellipses__outer--thick {
    width: 99.5%;
    height: 99.5%;
    border-color: #ffffff transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
            animation: ellipsesRotate 15s ease-in-out infinite;
  }
  
  .ellipses__orbit {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: #ffffff;
    top: 5rem;
    right: 6.75rem;
  }
  .ellipses__orbit:before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: #ffffff;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  

  
  @-webkit-keyframes ellipsesRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  
  @keyframes ellipsesRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @-webkit-keyframes ellipsesOrbit {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes ellipsesOrbit {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }




/* Общие стили */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'VCR OSD Mono';
}

/* Медиа-запрос для мобильных устройств */

@media only screen and (max-width: 768px) {

  /* Лэндинг-страница */

  .landing-page-container {
    min-height: 100vh;
    
  }

  .content__wrapper {
    width: 100%; /* Занимает 100% ширины экрана */
    padding: 2rem; /* Добавление отступов */
    justify-content: center;
  }

  .header {
    height: 8rem; /* Уменьшение высоты шапки */
  }

  .heading-container {
    font-size: 8vw; /* Уменьшение размера шрифта */
    margin-top: 5vh; /* Уменьшение верхнего отступа */
    position: relative;
    margin-left: 0%;
    font-size: 7rem;
  }

  .content-container,
  .content-container1,
  .content-container2 {
    width: 90%; /* Занимает 90% ширины экрана */
    margin-top: -221px;
    margin-bottom: 251px;
    padding: 15px; /* Увеличение отступов */
    font-size: 18px; /* Уменьшение размера шрифта */
    position: relative; 
    background-color: rgba(0, 0, 0, 0.69);
  }

  .coords {
    font-size: 1.7rem; /* Уменьшение размера шрифта */
    top: 1; 
    margin-top: 25%; /* Уменьшение верхнего отступа */
    position: absolute;
  }

  .ellipses-container {
    width: 100vw; /* Занимает 80% ширины экрана */
    height: 100vw; /* Занимает 80% высоты экрана */
    margin-left: 1rem; /* Убираем отступ слева */
    margin-top: -1rem; /* Увеличение верхнего отступа */
  }

  .ellipses-container .sigil {
    width: 100vw; /* Занимает 80% ширины экрана */
    height: 100vw; /* Занимает 80% высоты экрана */
    margin-left: 1rem;
    margin-top: -15rem;
  }
}

  