* {
  user-select: none;
}

html, body {
  margin: 0;
  background-color: #000;
}


a {
  color: #A720D9;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline; /* Optional: add underline on hover */
}


::-webkit-scrollbar {
  width: 0;
}

.canvas-wrapper {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100vh; /* Установите значение, которое вам подходит */
  background-color: #000;
}

.canvas-wrapper #fluid {
  width: 100%;
  height: 100%;
  position: fixed;
}

main {
  height: 100%;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
}



/*menu                */


.my-menu-list {
  list-style-type: none;
  /* margin-top: 3rem; */
  padding: 0.7em;
  overflow: hidden;
  background-color: #000000;
  text-align: center;
  justify-content: center;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  /* justify-content: center; */
  /* border-bottom: 1px solid rgb(255, 255, 255) */
  z-index: 99;
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  transition: all 0.3s ease-in-out;
  border-color: #000000;
  border-width: 1px;
  border-style: solid;
  width: max-content;
  min-width: 1200px;
}


.my-menu-list:hover {
  box-shadow: #a720d9 0px 20px 30px -10px;
  border-color: #a720d9;
  border-width: 1px;
  border-style: solid;
  transition: all 0.3s ease-in-out;
}


.my-menu-item {
  display: inline-block;
  float: center;
  max-width: 1200px;
}


.my-menu-item a {
  color: #c22dcf00;
  padding: 1em;
  text-decoration: none;
  font-size: 32px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #C12DCF;
  
}


.my-menu-item a:hover {
  border-bottom: 3px solid rgb(255, 255, 255);
  color: #ffffff00;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-stroke-width: 1px;
}
